[submodule "GlossHook"]
	path = GlossHook
	url = https://github.com/XMDS/GlossHook/
[submodule "app/src/main/cpp/luasocket"]
	path = app/src/main/cpp/luasocket
	url = https://github.com/lunarmodules/luasocket
[submodule "app/src/main/cpp/libs/toml"]
	path = app/src/main/cpp/libs/toml
	url = https://github.com/arp242/toml-c
